[package]
name = "geotiff"
description = "A GeoTIFF library for Rust"
version = "0.0.1"
edition = "2021"
authors = ["Dominik Bucher <dobucher@ethz.ch>"]
repository = "https://github.com/georust/geotiff"

[dependencies]
num-traits = "0.2"
tiff = "0.9"
